nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
    color: white;
}

nav h2 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    margin-left: auto; /* Mueve la lista a la derecha */
}

nav ul li {
    margin-left: 10px;
}
